@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");

:root {
    background-color: #1e2131;
    background-image: url("../public/img/background-cover.ce8b9c63.svg");
    background-size: cover;
    background-position: 52% 49%;
    background-size: 1700px;
    box-sizing: border-box;
    background-attachment: fixed;
}

/* Zerando a page*/
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

/************************************** Navbar ****************************************/
.nav {
    display: flex;
    background-color: #5f647d;
    width: 100%;
    min-height: 64px;
    align-items: center;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    justify-content: space-between;
    padding: 0px 59px;
}

/************************************** Img Ativa e Logo ****************************************/
/* Header do logo ativa e logo*/
.header-logo {
    margin: auto;
    margin-left: 0;
    max-width: 100%;
}

/* Imagem Ativa e logo*/
.logoImg {
    cursor: pointer;
    width: 121px;
    height: 80px;
    margin: 0 0.6vw;
}

/************************************** Icone  "ℹ?" ****************************************/
/* Icone de "?"*/
.la-question-circle {
    content: "\f059";
    font-size: 30px;
    color: #e0ff4b;
    font-weight: 900;
    font-family: Line Awesome Free;
    padding: 10px;
    cursor: pointer;
}

/* Mouse por cima Icone  ""?" */
.la-question-circle:hover {
    background-color: #71768c;
    border-radius: 50%;
}
/* Click Mouse Icone  "ℹ️" */
.la-question-circle:active {
    background-color: rgba(169, 179, 198, 0.7);
}

/* Deixando oculto Icone de "?" */
.la-question-circle:before {
    display: none;
}

/************************************** Icone  "ℹ️" ****************************************/
/* Icone "ℹ️" Containerefeito button*/
.md-button {
    padding: 5px 4px 5px 7px;
    border: none;
    cursor: pointer;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* Mouse por cima Icone  "ℹ️" */
.md-button:hover {
    background-color: #71768c;
}
/* Click Mouse Icone  "ℹ️" */
.md-button:active {
    background-color: rgba(169, 179, 198, 0.7);
}

/* Icone "ℹ️" Container button Icone  "ℹ️" */
.md-button-content {
    display: flex;
    align-items: center;
}

/* Style Icone  "ℹ️"  */
.la-info-circle {
    margin: 0 8px 0;
    font-size: 26px;
    text-transform: none;
    color: #e0ff4b;
}

/* Letra Atendimento Icone  "ℹ️"  */
.md-button-content span {
    color: #fff;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

/************************************** Formulario ****************************************/
/* main - Conatiner do Cadastro - Email & Senha*/
.cadastro-main {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 30px;
    overflow: auto;
}

/* Conatiner do Cadastro - Email & Senha*/
.cadastro-container {
    height: 100%;
    overflow-x: hidden;
    padding-top: 30px;
}

/* Container cadastro */
.cadastro-container {
    box-sizing: border-box;
    max-width: 436px;
    margin: 0 auto;
    padding: 0 16px !important;
}

/* container cadastro */
.input-container {
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
}

/* input campo de cadastro */
.input-container input {
    width: 100%;
    height: 70px;
    color: #fff;
    border: 1px solid #4c5169;
    border-radius: 6px;
    background-color: #2f3349;
    padding: 31px 15px 20px;
    outline: 0;
    -webkit-appearance: none;
    transition: border-color 0.2s ease;
    caret-color: #fffffe;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
}

/* Borda verde ao clicar dentro do input */
.input-container input:focus {
    border: 1px solid #e0ff4b;
}

/* texto dentro do label campo */
.input-container label {
    color: #abafc5;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    pointer-events: none;
    position: absolute;
    bottom: 1.6rem;
    left: 1rem;
    margin-top: 13px;
    font-weight: 400;
    transition: all 0.3s ease-out, box-shadow 0.2s ease-out,
        border-color 0.2s ease-out;
}

/* Quando o mouse tiver clicado */
.input-container input:focus + label,
.input-container input:valid + label {
    font-size: 11px;
    margin-top: 0;
    color: #e0ff4b;
    left: 0.7rem;
    top: 1.3rem;
    padding: 4px;
}

/* Icone */
.input-container .la-info-circle {
    position: absolute;
    top: 2.5rem;
    right: 10px;
    cursor: pointer;
    color: #e0ff4b;
    font-size: 21px;
    cursor: pointer;
}

/* titulo: Descubra os Investimentos do Momento e esteja sempre à frente das novidades em nossa carteira. */
h1 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    letter-spacing: 0;
    color: #fffffe;
    margin: 0;
    width: 404px;
    max-width: 100%;
}

/* Destaque no texto: Descubra os Investimentos do Momento e esteja sempre à frente das novidades em nossa carteira.
Junte-se a nós e potencialize seus ganhos financeiros! */
span {
    color: #e0ff4b;
}

/* texto: Junte-se a nós e potencialize seus ganhos financeiros!. */
p {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.22;
    text-align: center;
    letter-spacing: 0;
    color: #fffffe;
    margin: 0;
    width: 390px;
    max-width: 100%;
    margin-top: 2px;
}

/* btnEnviar */
.btnEnviar {
    flex: 1;
    opacity: 0.6;
    width: 100%;
    background-color: #e0ff4b;
    border-color: #e0ff4b;
    color: #5f647d;
    font-weight: 700;
    font-size: 14px;
    height: 48px;
    border-radius: 5px;
    cursor: pointer;
}

/* checkbox */
.input-containercheckbox {
    margin: 30px 0px;
    font-size: 12px;
    text-align: center;
    color: #abafc5;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

/* letra do btn Enviar*/
.input-containercheckbox label a {
    text-decoration: underline;
    font-style: italic;
    color: #abafc5;
}

/* Estiliza a checkbox */
.input-containercheckbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 4px;
    outline: none;
    position: relative;
    cursor: pointer;
}

/* Estiliza a checkbox quando marcada */
.input-containercheckbox input[type="checkbox"]:checked::after {
    content: "✔";
    display: block;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e0ff4b;
}

/* Estiliza o label da checkbox */
.input-containercheckbox label {
    margin-left: 10px;
}

@media (max-width: 959px) {
    /* Deixando visivel Icone de "?"**/
    .la-question-circle:before {
        display: block;
    }

    /* Deixando visivel Icone  "ℹ️"  **/
    .logo_src {
        display: none;
    }

    /* Imagem Ativa e logo*/
    .logoImg {
        width: revert;
        height: revert;
        margin: 0 5vw;
    }

    /* Deixando oculto Icone de "?"**/
    .md-button {
        display: none;
    }

    /* .logoImg,
    .md-button-content e .nav
    Manter o padrão da pagina original*/
    .logoImg,
    .md-button-content {
        padding: 0px 19px;
    }
    .nav {
        padding: 0px;
    }
}

@media (max-width: 599px) {
    :root {
        background-color: #1e2131;
        background-image: url();
    }
}
